<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head_fragment(title = '競馬記録管理アプリ', scripts = ~{}, links = ~{})}"/>

<body>
<div class="container">
    <h1>競馬記録管理アプリ</h1>
        <div class="col-md-12">
            <button type="button" onclick="location.href='./register'" class="btn btn-success">登録</button>
        </div>
        <div class="col-md-12">
            <button type="button" onclick="location.href='./result'" class="btn btn-success">成績閲覧</button>
        </div>
    </div>
</div>
</body>
</html>